
.active:root {
    --body-bg: #000000;
    --body-color: #a40000;
    --body-color-hover: #700000;
}

.change-theme{
    width: 60px;
    height: 30px;
    border: 2px solid var(--body-color);
    border-radius: 60px;
    position: relative;
    cursor: pointer;
}

.change-theme.active{
    background-color: #000000;
    border: 2px solid #fff;
}


.change-theme:before{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: var(--body-color);
    border-radius: 50%;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    transition-duration: .4s;
}

.change-theme.active:before{
    left: 30px;
    transition-duration: .4s;
    background-color: #ffffff;
}

.pennywise.active{
    display: none;
}


.navbar.active{
    background-color: transparent;
}


.title.active{
    width: 400px;
    height: 130px;
    top: -140px;
}

.arrow-donw.active{
    top: 330px;
}

.section-2.active{
    background-color: #000;   
    padding-top: 180px;
}


