@media (min-width: 320px) {

    /* ----- LIGHT MODE -----*/
    .navbar{
        padding: 20px;
    }

    .nav-text{
        font-size: 1.2rem;
    }

    .navbar img{
        width: 80px;
        position: relative;
        left: -103px;
    }

    .navbar button{
        position: relative;
        right: -120px;
    }

    .section-1 .title{
        width: 320px;
        height: 120px;
        top: 90px;
    }

    .pennywise-desktop{
        display: none;
    }

    .pennywise-white{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;     
        position: relative;   
        bottom: -70px;
        width: 290px;
    }

    .section-1 .arrow-donw{
        display: none;
    }

    .section-2 iframe{
        position: relative;
        top: -82px;  
        width: 300px;
        height: 200px;
    }

    .jorge{
        position: relative;
        height: 215px;
        width: 215px;
        top: -123px;
    }

    footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px;
        height: 20px;
        font-size: .7rem;
        bottom: 0px;
    }

    /* ----- DARK MODE -----*/
    .section-1.active{
        background-image: url(/projeto_welcomeToDerry/assets/img/mobile.png);
    }

    .title.active{
        width: 355px;
        height: 109px;
        top: -90px;
    }

    .section-1 .arrow-donw.active{
        display: flex;
        right: 0;
    }

    .section-2.active iframe{
        top: -166px; 
    }

    .jorge.active{
        position: relative;
        top: -187px;
    }
}

@media (min-width: 768px) {

    .navbar img{
        width: 90px;
        left: -580px;
    }

    .nav-text{
        right: 101px;
    }

    .navbar button{
        right: -101px;
    }

    .section-1 .title{
        width: 500px;
        height: 170px;
        top: 84px;
        right: 0;
    }

    .pennywise-white{  
        bottom: -50px;
        width: 320px;
    }

    .section-1 .arrow-donw{
        display: none;
    }

    .section-2 iframe{
        position: relative;
        top: -55px;  
        width: 690px;
        height: 420px;
    }

    .jorge{
        top: -60px;
        height: 315px;
        width: 315px;
    }

    footer{
        font-size: 1rem;
    }

    /* ----- DARK MODE -----*/
    .section-1.active{
        background-image: url(/projeto_welcomeToDerry/assets/img/tablet768.png);
    }

    .title.active{
        top: -107px;
        width: 500px;
        height: 160px;
    }

    .section-1 .arrow-donw.active{
        display: flex;
    }

    .section-2.active iframe{
        top: -135px;  
    }
}

@media (min-width: 1024px) {

    .navbar img{
        width: 90px;
        left: -780px;
    }

    .nav-text{
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .section-1 .title{
        top: 136px;
        width: 500px;
        height: 170px;
    }

    .pennywise-white{  
        bottom: -50px;
        width: 365px;
    }

    .section-1 .arrow-donw{
        display: flex;
        top: -36px;
        right: 0;
    }

    .section-2 iframe{
        position: relative;
        top: -75px;  
        width: 900px;
        height: 500px;
    }

    .jorge{
        top: -100px;
    }

    /* ----- DARK MODE -----*/
    .section-1.active{
        background-image: url(/projeto_welcomeToDerry/assets/img/desktop1024.png);
        background-repeat: no-repeat;
    }

    .title.active{
        top: -130px;
        width: 500px;
        height: 160px;
    }

    .section-1 .arrow-donw.active{
        top: 230px;
    }

    .section-2.active iframe{
        top: -165px;  
    }

    .jorge.active{
        top: -210px;
    }
}

@media (min-width: 1440px) {
   
    .navbar img{
        width: 90px;
        left: -1180px;
    }

    .nav-text{
        position: relative;
        left: -320px;
    }

    .navbar button{
        position: relative;
        left: 101px;
    }

    .section-1 .title{
        top: 156px;
        width: 580px;
        height: 180px;
        right: 0;
    }

    .pennywise-white{  
        bottom: -70px;
        width: 385px;
    }

    .section-1 .arrow-donw{
        display: flex;
        top: -10px;
        right: 0;
    }

    .section-2 iframe{
        width: 1350px;
        height: 680px;
        top: -10px;  
    }

    /* ----- DARK MODE -----*/

    .section-1.active{
        background-image: url(/projeto_welcomeToDerry/assets/img/desktop1440.png);
        /* width: 100%;  */
    }

    .section-1 .title.active{
        top: -120px;
        right: 0;
        width: 550px;
        height: 180px;
    }

    .section-1 .arrow-donw.active{
        top: 300px;
        right: 0;
    }

    .section-2.active iframe{
        top: -65px;  
    }

}


@media (min-width: 1740px) {
   
    .navbar img{
        width: 90px;
        left: -1480px;
    }

    .nav-text{
        left: -550px;
    }

    .navbar button{
        left: 1px;
    }

    .section-1 .title{
        width: 580px;
        height: 180px;
        right: 0;
    }

    .jorge{
        top: -80px;
    }

    .section-1.active{
        background-image: url(/projeto_welcomeToDerry/assets/img/desktop1905.png);
    }

    .section-1 .title.active{
        width: 580px;
        height: 180px;
    }

    .section-1 .pennywise-desktop {
        top: 100px;
    }

    .jorge.active{
        top: -120px;
    }

}