@media (max-width: 600px) {

    /* ----- LIGHT MODE -----*/
    .navbar{
        padding: 20px;
    }

    .nav-text{
        font-size: 1.2rem;
    }

    .navbar img{
        width: 80px;
        position: relative;
        left: -147px;
    }

    .navbar button{
        position: relative;
        right: -94px;
    
    }

    .section-1 .title{
        width: 320px;
        height: 120px;
        top: 130px;
    }

    .pennywise-desktop{
        display: none;
    }

    .pennywise-mobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;     
        position: relative;   
        bottom: -90px;

    }

    .section-1 .arrow-donw{
        display: none;
    }

    .section-2 {
        padding-top: 165px;
    }

    .section-2 iframe{
        position: relative;
        top: -70px;  
        width: 390px;
        height: 230px;
    }

    .jorge{
        position: relative;
        height: 195px;
        width: 195px;
        top: -127px;
    }

    footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px;
        height: 20px;
        font-size: .7rem;
        bottom: 0px;
    }

    /* ----- DARK MODE -----*/
    .section-1.active{
        background-image: url(/projeto_welcomeToDerry/assets/img/mobile.png);
    }

    .title.active{
        width: 355px;
        height: 109px;
        top: -90px;
    }

    .section-1 .arrow-donw.active{
        display: flex;
        right: 0;
    }
}

@media (min-width: 768px) {

    .navbar img{
        width: 90px;
    }

    .section-1 .pennywise-desktop{
        top: 110px;
        opacity: 1;
    }

    .section-1 .title{
        width: 500px;
        height: 170px;
        top: 150px;
    }

    .section-1 .arrow-donw{
        display: none;
    }

    .section-2 iframe{
        position: relative;
        top: -15px;  
        width: 690px;
        height: 420px;
    }

    .section-2 {
        padding-top: 153px;
    }

    .jorge{
        top: -60px;
    }

    /* ----- DARK MODE -----*/
    .section-1.active{
        background-image: url(/projeto_welcomeToDerry/assets/img/tablet768.png);
    }

    .title.active{
        top: -107px;
        width: 500px;
        height: 160px;
    }

    .section-1 .arrow-donw{
        /* top: 250px; */
        display: none;
    }

    .section-1 .arrow-donw.active{
        display: flex;
    }

    .section-2 iframe{
        top: -35px;  
    }
}

@media (min-width: 1024px) {
    .section-1 .title{
        top: 216px;
        width: 500px;
        height: 170px;
    }
    
    .section-1 .pennywise-desktop{
        top: 140px;
    }

    .section-1 .arrow-donw{
        display: flex;
        top: 36px;
        right: 0;
    }

    .section-2 iframe{
        position: relative;
        top: 30px;  
        width: 900px;
        height: 500px;
    }

    .jorge{
        top: -10px;
    }

    /* ----- DARK MODE -----*/
    .section-1.active{
        background-image: url(/projeto_welcomeToDerry/assets/img/desktop1024.png);
        background-repeat: no-repeat;
    }

    .title.active{
        width: 490px;
        height: 170px;
        top: -150px;
    }

    .section-1 .arrow-donw.active{
        top: 330px;
    }


    .section-2.active iframe{
        top: -35px;  
    }

    .jorge.active{
        top: -100px;
    }
}

@media (min-width: 1440px) {
   
    .section-1.active{
        background-image: url(/projeto_welcomeToDerry/assets/img/desktop1440.png);
        /* width: 100%;  */
    }

    .section-1 .title{
        width: 700px;
        height: 210px;
    }

    .section-1 .title.active{
        width: 648px;
        height: 194px;
    }

    .section-1 .arrow-donw{
        top: 20px;
    }

    .section-2 iframe{
        width: 1350px;
        height: 680px;
    }
}


@media (min-width: 1740px) {
   
    .section-1.active{
        background-image: url(/projeto_welcomeToDerry/assets/img/desktop1905.png);
        /* width: 100%;  */
    }

    .section-1 .title.active{
        width: 700px;
        height: 210px;
    }

    .section-1 .pennywise-desktop {
        top: 100px;
    }


}