@font-face {
    font-family: it-fonte;
    src: url(/projeto_welcomeToDerry/assets/fonte/it-fonte.ttf);
}

@font-face {
    font-family: it-fonte2;
    src: url(/projeto_welcomeToDerry/assets/fonte/THE\ BOLD\ FONT\ -\ FREE\ VERSION\ -\ 2023.ttf);
}

*{
    margin: 0;
    padding: 0;
}

:root {
    --body-bg: #DDE8EA;
    --body-color: #cc0000;
    --body-color-hover: #700000;
}

body{
    font-family: 'it-fonte2';
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: #DDE8EA;
}

.nav-text{
    text-decoration: none;
    color: var(--body-color);
    font-size: 1.2rem;
    /* transition-duration: .9s; */
}

.nav-text:hover{
    cursor: pointer;
    color: var(--body-color-hover);
    font-size: 1.3rem;
    transition-duration: .8s;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navbar li{
    padding: 5px 30px;
}

.navbar img{
    width: 110px;
    padding-right: 30px;
}

.section-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 675px;
    background-color: var(--body-bg);
}

.section-1 .title{
    width: 500px;
    height: 400px;
    position: relative;
    bottom: 100px;
}

.section-1 .pennywise-desktop{
    max-width: 900px;
    width: 100vw;
    position: relative;
    top: 100px;
    opacity: .75;
    transition: opacity .65s ease-in-out;
}

.pennywise-desktop:hover {
    opacity: 1;
}

.pennywise-mobile{
    display: none;
    width: 400px;
}

.section-1 .arrow-donw{
    position: relative;
    top: -79px;  
    right: 20px; 
}

.section-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--body-bg);
    padding-top: 90px;
}

.section-2 iframe{
    border: 5px solid #b60000;
    top: 10px;  
}

.jorge{
    position: relative;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #b60000;
    padding: 10px 0px 10px;
}
